// FONTS
@font-face {
  font-family: "UniNeueBlack";
  src: local("UniNeueBlack"), url("../../fonts/UniNeueBlack.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueBlack-Italic";
  src: local("UniNeueBlack-Italic"), url("../../fonts/UniNeueBlack-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueBold";
  src: local("UniNeueBold"), url("../../fonts/UniNeueBold.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueBold-Italic";
  src: local("UniNeueBold-Italic"), url("../../fonts/UniNeueBold-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueBook";
  src: local("UniNeueBook"), url("../../fonts/UniNeueBook.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueBook-Italic";
  src: local("UniNeueBook-Italic"), url("../../fonts/UniNeueBook-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueHeavy";
  src: local("UniNeueHeavy"), url("../../fonts/UniNeueHeavy.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueHeavy-Italic";
  src: local("UniNeueHeavy-Italic"), url("../../fonts/UniNeueHeavy-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueLight";
  src: local("UniNeueLight"), url("../../fonts/UniNeueLight.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueLight-Italic";
  src: local("UniNeueLight-Italic"), url("../../fonts/UniNeueLight-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueRegular";
  src: local("UniNeueRegular"), url("../../fonts/UniNeueRegular.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueRegular-Italic";
  src: local("UniNeueRegular-Italic"), url("../../fonts/UniNeueRegular-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueThin";
  src: local("UniNeueThin"), url("../../fonts/UniNeueThin.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueThin-Italic";
  src: local("UniNeueThin-Italic"), url("../../fonts/UniNeueThin-Italic.ttf") format("truetype");
}
