@import './src/style/components/buttons';
@import "../base/colors";

.calc {}
.text {
  font-size: 1.125rem;
  line-height: 28px;
  color: $color-primary;
  font-family: "UniNeueRegular", sans-serif;
  width: 425px;
}
.text p {
  margin: 0 0 28px 0;
  padding: 0 24px;
}
.text span {
  padding: 5px;
  border-radius: 5px;
  filter: drop-shadow(0 0 20px rgba(20,21,26,0.1));
  background-color: #ffffff;
  font-weight: bold;
}
.calcButton p {
  padding-left: 17px;
}
@media screen and (max-width: 960px) and (min-width: 766px){
  .calcButton, .text {
    width: 367px;
    margin: 0;
    padding: 0 5px;
  }
  .text p {
    margin: 0 0 5px 0;
  }
  .calcButton p {
    margin: 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px){
  .calcButton {
    margin: 0;
    padding: 0 3px;
    width: 238px;
    height: 76px;
    font-size: 0.8rem;
  }
  .text p {
    margin: 0 0 5px 0;
  }
  .calcButton p {
    margin: 0;
  }
  .text {
    width: 267px;
    height: 76px;
    margin-bottom: 22px;
    font-size: 0.9rem;
  }
}
// Laptop
@media screen and (max-height:600px){
  .text p {
    margin: 0 0 7px 0;
  }
}